# デフォルトの無視対象ファイル
/../../../../ジーズ関連/20250209_git_handson2/kawasaki-Y-test/.idea/shelf/
/../../../../ジーズ関連/20250209_git_handson2/kawasaki-Y-test/.idea/workspace.xml
# エディターベースの HTTP クライアントリクエスト
/../../../../ジーズ関連/20250209_git_handson2/kawasaki-Y-test/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../ジーズ関連/20250209_git_handson2/kawasaki-Y-test/.idea/dataSources/
/../../../../ジーズ関連/20250209_git_handson2/kawasaki-Y-test/.idea/dataSources.local.xml
